* {
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Serif', serif;
}
/* JULIAN */
/* NAVBAR */
nav{
  width: 100%;
}

nav ul {
    margin: 25PX 13PX;
    margin-left: 11%;  /* 5% modif Nicky -> 12% */
    margin-right: 12%; /* 7% modif Nicky -> 12% */
    padding: 0;
    display: flex;

}

nav ul li {
    list-style: none;
    padding: 40px 40px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #b36154;
    position: relative;
    padding: 5px;
}

.nav-img{
    margin-top: -26px;
    z-index: 5;
}

nav ul li a:hover {
    color: #004b41;
}

/* TIFFANY */
/*SLIDER*/
.mySlides {
    display:none;
    height: 100vh;
    /* margin: 20px; = Tiffany */
    margin-left: 8%; /* modif Nicky */
    margin-right: 10%; /* modif Nicky */
    margin-top: -100px;
}

.container {
    position: relative;
  }

.im {
    opacity: 0.8;
}

span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 70px;
}

.text {
    color: #050606;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    margin-top: -350px;
    margin-left: 400px;
    margin-right: 400px;
    background-color:;
    border-radius: 5px;
    padding: 40px 40px;
}

/* Mike */

.h3 {
  font-family: 'IBM Plex Serif', serif;
  color: rgba(255,255,255,.4);
  text-transform: uppercase;
  text-align: center;
}

.h1 {
  font-family: 'IBM Plex Serif', serif;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
}

.fond {
  background-color: #b36154;
  height: 25vh;
  margin-top: -340px; /* modif Nicky */
}

.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
  margin-left: 8%; /* modif Nicky */
  margin-right: 8%; /* modif Nicky */
}

.flexbox-container > div {
	width: 50%;
	padding: 44px;
}

.flexbox-container > div:first-child {
	margin-right: 20px;
}

.flexbox-container > div:last-child {
	margin-right: 20px;
}

.para {
  font-family: 'IBM Plex Serif', serif;
  color: #050606;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.para1 {
  font-family: 'IBM Plex Serif', serif;
  color: #050606;
  text-align: justify;
}

/* NICKY */
/* ARTICLES */
/* FLEXBOX-CONTAINER 1 */

.flexbox-container1{
  display:flex;
  margin-top: 2%;
  margin-left: 12%;
  margin-right: 12%;
}

.flexbox-container1 > div {
	width: 50%;
	padding: 10px;
  text-align: center;
}

.flexbox-container1 > div:first-child {
	margin-right: 20px;
}

.flexbox-container1 > div > p {
	text-align: justify;
  color: #004b41;

}

.flexbox-container1 > div > h2 {
	color: #b36154;

}

/* FLEXBOX-CONTAINER 2 */

.flexbox-container2{
  display:flex;
  margin-left: 12%;
  margin-right: 12%;
}

.flexbox-container2 > div {
	width: 50%;
	padding: 10px;
  text-align: center;
}

.flexbox-container2 > div:first-child {
	margin-right: 20px;
}

.flexbox-container2 > div > p {
	text-align: justify;
  color: #004b41;

}

.flexbox-container2 > div > h2 {
	color: #b36154;

}
